<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pinpoint">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CreateDriver"></activity>
        <activity android:name=".CreateVan" />
        <activity android:name=".CreateStudent" />
        <activity android:name=".CreateCustomer" />
        <activity android:name=".DriverDetails" />
        <activity android:name=".StudentDetails" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".ShowComplaints" />
        <activity android:name=".Trips" />
        <activity android:name=".ManageTimetable" />
        <activity android:name=".ManageDrivers" />
        <activity android:name=".ManageVans" />
        <activity android:name=".ManageStudents" />
        <activity android:name=".ManageCustomers" />
        <activity android:name=".VanDetails" />
        <activity android:name=".TrackLocation" />
        <activity android:name=".MyProfile" />
        <activity android:name=".TrackSpeed" />
        <activity android:name=".RegisterComplaint" />
        <activity android:name=".Notifications" />
        <activity android:name=".PickupTime" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>